In [26]:
import random
from sqlalchemy import and_, or_, not_, text 
from sqlalchemy.orm import sessionmaker
from models import User, engine

In [2]:
# Create session
Session = sessionmaker(bind=engine)
session = Session()

### CRUD Operations

In [3]:
user1 = User(name="Amit", age=25)
user2 = User(name="Mobin", age=27)
user3 = User(name="Santu", age=28)
user4 = User(name="Morgan", age=40)

In [ ]:
## CREATE 
session.add(user1)
session.add_all([user2, user3, user4])
session.commit()

In [ ]:
## READ 
users = session.query(User).all()
for user in users:
    print(f"ID : {user.id}, Name : {user.name}, Age : {user.age}")

In [ ]:
## UPDATE
user = session.query(User).filter_by(name = "Amit").one_or_none()
user.name = "Farooqe"
print(f"ID : {user.id}, Name : {user.name}, Age : {user.age}")

In [ ]:
## DELETE 
user = session.query(User).filter_by(id=4).one_or_none()
session.delete(user)
session.commit()

### Data Manipulation

In [ ]:
## Add some new data 

names = ["Thor", "Hulk", "Goku", "Vegeta", "Morgoth", "Frodo", "Pippin"]
ages = [20, 21, 22, 23, 24, 25, 26, 26, 27, 28, 29, 30]

for i in range(len(names)):
    user = User(name=names[i], age=random.choice(ages))
    session.add(user)
session.commit()

**Ordering data**

In [4]:
## SELECT * FROM users ORDER by AGE;
users = session.query(User).order_by(User.age).all()
for user in users:
    print(f"ID : {user.id}, Name : {user.name}, Age : {user.age}")

ID : 11, Name : Pippin, Age : 21
ID : 7, Name : Goku, Age : 22
ID : 10, Name : Frodo, Age : 22
ID : 9, Name : Morgoth, Age : 24
ID : 6, Name : Hulk, Age : 24
ID : 5, Name : Thor, Age : 24
ID : 1, Name : Farooqe, Age : 25
ID : 8, Name : Vegeta, Age : 26
ID : 2, Name : Mobin, Age : 27
ID : 3, Name : Santu, Age : 28

**Filtering Data**
- For general query statement with conditionals, use `filter()` or `where()` method.
- In order to find with specific value, use `filter_by()` method. This doesn't allow conditionals.

Normally inside the `filter()` and `where()` methods, the passed parameters are considered as **AND** operation by default.

In [5]:
users = session.query(User).all() 
print(f"Total users : {len(users)}")

### SELECT * FROM users WHERE age>=25
filtered_users = session.query(User).filter(User.age >= 25).all() 
print(f"Filtered users Using single conditionals: {len(filtered_users)}")

### SELECT * FROM users WHERE age>=24 AND name="Thor"
filtered_users2 = session.query(User).filter(User.age>=24, User.name=="Thor").all()
print(f"Filtered users Using multiple conditionals: {len(filtered_users2)}")

filtered_users3 = session.query(User).filter_by(age=24, name="Thor").all()
print(f"Filtered user using specific values: {len(filtered_users3)}")

filtered_users4 = session.query(User).where(User.age>=24, User.name=="Thor").all()
print(f"Filtered users Using multiple conditionals: {len(filtered_users4)}")

Total users : 10
Filtered users Using single conditionals: 4
Filtered users Using multiple conditionals: 1
Filtered user using specific values: 1
Filtered users Using multiple conditionals: 1

**AND operation:**
- We can use `and_` function.
- We can also use the **Bitwise** `&` operator.

In [6]:
### SELECT * FROM users WHERE age>=23 OR name="Thor"

filtered_users5 = session.query(User).where(and_(User.age>=23, User.name=="Thor")).all()
print(f"Filtered users Using multiple conditionals (AND Operation): {len(filtered_users5)}")

filtered_users6 = session.query(User).where((User.age>=23) & (User.name=="Thor")).all()
print(f"Filtered users Using multiple conditionals (AND Operation): {len(filtered_users6)}")

Filtered users Using multiple conditionals (AND Operation): 1
Filtered users Using multiple conditionals (AND Operation): 1

**OR operation:** 
- the passed parameters needs to be inside the `or_` function.
- We can use **bitwise** `|` operator.

In [7]:
### SELECT * FROM users WHERE age>=23 OR name="Thor"

filtered_users3_1 = session.query(User).where(or_(User.age>=23, User.name=="Thor")).all()
print(f"Filtered users Using multiple conditionals (OR Operation): {len(filtered_users3_1)}")

filtered_users3_2 = session.query(User).where((User.age>=23) | (User.name=="Thor")).all()
print(f"Filtered users Using multiple conditionals (OR Operation): {len(filtered_users3_2)}")

Filtered users Using multiple conditionals (OR Operation): 7
Filtered users Using multiple conditionals (OR Operation): 7

**NOT operation:**
- the passed parameters needs to be inside the `not_` function.
- We can use `!=` operator.

In [8]:
### SELECT * FROM users WHERE name!="Thor"

filtered_users7 = session.query(User).where(not_(User.name=="Thor")).all()
print(f"Filtered users Using multiple conditionals (NOT Operation): {len(filtered_users7)}")

filtered_users8 = session.query(User).where(User.name!="Thor").all()
print(f"Filtered users Using multiple conditionals (NOT Operation): {len(filtered_users8)}")

Filtered users Using multiple conditionals (NOT Operation): 9
Filtered users Using multiple conditionals (NOT Operation): 9

**Returning List and Scalars**

- all() : returns list of objects of the given query.
- first() : returns the first object of the list.
- one(): This command fully fetches all rows, and if there is not exactly one object identity or composite row present in the result, it raises an error.
- scalar(): It invokes the one() method, and upon success returns the first column.

In [17]:
user_list = session.query(User).where(User.age>=20).all()
print(f"Returning List of length: {len(user_list)}")

user = session.query(User).where(User.age>=20).first()
print(f"Returning the first user only: {user}")

Returning List of length: 10
Returning the first user only: <models.User object at 0x729eecfb3d30>

In [25]:
try: 
    user1 = session.query(User).where(User.age>=20).one()
    print(f"Returning the One user only: {user1}")
except Exception as e:
    print(f"Error: {e}.")

user1 = session.query(User).where(User.name=='Mobin').one()
print(f"Returning the One user only: {user1}")

user1 = session.query(User).where(User.name=='Mobin').scalar()
print(f"Returning the scalar user only: {user1}")

Error: Multiple rows were found when exactly one was required.
Returning the One user only: <models.User object at 0x729eecfb3d30>
Returning the scalar user only: <models.User object at 0x729eecfb3d30>

### Textual SQL

Using with `filter()` function

In [43]:
users = session.query(User).filter(text("age>=20")).all()
print(f"Returning user list of length: {len(users)}")

Returning user list of length: 10

Using with `from_statement()` function.

In [44]:
users = session.query(User).from_statement(text("SELECT * FROM users where age>=20")).all()
print(f"Returning user list of length: {len(users)}")

Returning user list of length: 10